<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}, created by Stephanie Eckles of ModernCSS.dev">
  <title>{{ title }}</title>
  <link rel="preload" href="{{ '/fonts/recursive-v23-latin-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/style.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@5t3ph">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ description }}">
  <meta property="og:image" content="https://smolcss.dev/smolcss.png" />
  <meta name="twitter:image" content="https://smolcss.dev/smolcss.png" />
  {% if 'smolcss' in meta.url %}
  <script async defer data-domain="smolcss.dev" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  {% endif %}
  <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="/feed/"
    />
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <small>Created by <a href="https://twitter.com/5t3ph">Stephanie Eckles</a> of <a href="https://moderncss.dev">ModernCSS.dev</a></small>
    <label for="mode-toggle" class="mode-toggle">
        <input id="mode-toggle" type="checkbox" />
        <span class="mode-toggle-control"></span>
        Dark Mode
      </label>
  </header>
  <nav>
    <details id="toc">
      <summary role="button" aria-controls="toc-menu">Skip to:</summary>
      <ol id="toc-menu">
      {% for snippet in collections.snippets %}
        <li><a href="#{{ snippet.fileSlug }}">{{ snippet.data.title | removeSmol }}</a></li>
      {% endfor %}
      </ol>
    </details>
  </nav>
  <main>
    {{ content | safe }}
  </main>
  <aside>
    <p> <strong>More snippets coming soon!</strong> While you're waiting, check out my in-depth CSS tutorials on <a href="https://moderncss.dev">ModernCSS.dev</a> or <a href="https://5t3ph.dev/egghead">watch my front-end lessons on egghead</a>. Start practicing using modern CSS by contributing to my community project <a href="https://stylestage.dev">Style Stage</a>.</p>
  </aside>
  <footer>
  <p>&copy; {% year %} <a href="https://twitter.com/5t3ph">Stephanie Eckles</a> of <a href="https://moderncss.dev">ModernCSS.dev</a> • <a href="/feed/">Subscribe to RSS</a> • <a href="https://www.buymeacoffee.com/moderncss">Buy Me a Coffee</a></p>
  <a href="https://github.com/5t3ph/smolcss" class="link-github"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
      <path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
    </svg> Star on Github</a>
  <p><small>Note: Sometimes changing the `display` property <a href="https://adrianroselli.com/2020/10/a11yto-conf-css-display-properties-versus-html-semantics.html">can harm accessibility</a></small></p>
  </footer>

  {% set js %}
  {% include "dark-mode.js" %}
  {% include "dropdown.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <script>
    {%- if 'smolcss' in meta.url %}
    const demoLink = location.hash;
    if(demoLink) {
      plausible('Demo Link', { props: { Link: demoLink } });
    }

    document.querySelectorAll('button[type="submit"]').forEach(button => {
      button.addEventListener('click', (el) => {
        plausible('CodePen', { props: { Demo: el.target.dataset.name } });
      });
    });
    {% endif %}
  </script>
</body>
</html>