<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}, created by Stephanie Eckles of ModernCSS.dev">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@5t3ph">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ description }}">
  <meta property="og:image" content="https://smolcss.dev/smolcss.png" />
  <meta name="twitter:image" content="https://smolcss.dev/smolcss.png" />
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <small>Created by <a href="https://twitter.com/5t3ph">Stephanie Eckles</a> of <a href="https://moderncss.dev">ModernCSS.dev</a></small>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <aside>
    <p> <strong>More snippets coming soon!</strong> While you're waiting, check out my in-depth CSS tutorials on <a href="https://moderncss.dev">ModernCSS.dev</a> or <a href="https://5t3ph.dev/egghead">watch my front-end lessons on egghead</a>.</p>
  </aside>
  <footer>
  <p>&copy; {% year %} <a href="https://twitter.com/5t3ph">Stephanie Eckles</a> of <a href="https://moderncss.dev">ModernCSS.dev</a></p>
  </footer>
</body>
</html>