{{ description }}

<style>
{{ css }}
</style>

<details>
  <summary>CSS for "{{ title }}"</summary>

```css
{{- css | safe }}
```
</details>

<div class="demo">
{{ html | safe }}
</div>

<footer>
{{ resourceLink }}
</footer>