{{ description | safe }}

<style>
{{ css | safe }}
</style>

<details>
  <summary>CSS for "{{ title }}"</summary>

```css
{{- css | safe }}
```
</details>

<div data-layout="{{ layout }}" class="demo {% if resize == 'false' %}no-resize{% endif %}">
{{ html | safe }}
</div>

{%- if resourceLink -%}
<footer>
{{ resourceLink }}
</footer>
{%- endif %}