{{ codepenForm | safe }}
</div>

{{ description | safe }}

{%- if hideDemo !== 'true' -%}
<style>
{{ css | safe }}
</style>
{%- endif %}

<details>
  <summary>CSS for "{{ title }}"</summary>

```css
{{- css | safe }}
```
</details>

{%- if hideDemo !== 'true' -%}
<div data-layout="{{ layout }}" class="demo {% if resize == 'false' %}no-resize{% endif %}">
{{ html | safe }}
</div>
{%- endif %}

{%- if resourceLink -%}
<footer>
{{ resourceLink }}
</footer>
{%- endif %}