/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in color-tokens.js
 */

$color-surface: #f0e9f3 !default;
$color-on-surface: #494848 !default;
$color-code-surface: #29344b !default;
$color-red: #fcd4d2 !default;
$color-on-red: #885452 !default;
$color-yellow: #f2e6b1 !default;
$color-on-yellow: #71673c !default;
$color-blue: #cadff9 !default;
$color-on-blue: #4b6381 !default;
$color-green: #c6e7d6 !default;
$color-on-green: #4c695a !default;
$color-purple: #e0d4f6 !default;
$color-on-purple: #675883 !default;

$color-tokens: (
  "color-surface": $color-surface,
  "color-on-surface": $color-on-surface,
  "color-code-surface": $color-code-surface,
  "color-red": $color-red,
  "color-on-red": $color-on-red,
  "color-yellow": $color-yellow,
  "color-on-yellow": $color-on-yellow,
  "color-blue": $color-blue,
  "color-on-blue": $color-on-blue,
  "color-green": $color-green,
  "color-on-green": $color-on-green,
  "color-purple": $color-purple,
  "color-on-purple": $color-on-purple,
) !default;

:root {
  --color-surface: #{$color-surface};
  --color-on-surface: #{$color-on-surface};
  --color-code-surface: #{$color-code-surface};
  --color-red: #{$color-red};
  --color-on-red: #{$color-on-red};
  --color-yellow: #{$color-yellow};
  --color-on-yellow: #{$color-on-yellow};
  --color-blue: #{$color-blue};
  --color-on-blue: #{$color-on-blue};
  --color-green: #{$color-green};
  --color-on-green: #{$color-on-green};
  --color-purple: #{$color-purple};
  --color-on-purple: #{$color-on-purple};
}
