.demo {
  padding: 1.5rem;
  border: 1px solid var(--color-on-purple);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      --min: 6ch;
    }
  }

  [class*="smol"] > *:not([data-unstyled]) {
    display: grid;
    place-content: center;
    padding: 1rem;
    background-color: var(--color-purple);
    color: var(--color-on-purple);
    font-size: clamp(1.15rem, 4vw, 2rem);
    font-weight: bold;
    text-align: center;
    border-radius: 0.15em;
    border: 1px dashed;

    &[data-text] {
      font-size: 1.25rem;
      text-align: left;
    }
  }

  [data-container-style] {
    outline: 2px dotted var(--color-on-surface);
  }
}

// False positive in iOS :(
// Fenced based on computed layout widths, nothing scientific about devices
// @supports (resize: horizontal) {
@media (min-width: 928px) {
  .demo {
    position: relative;
    resize: horizontal;
    overflow: auto;
    width: 100%;
    max-width: calc(100ch - 2rem);

    &::after {
      content: "Resize me!";
      position: absolute;
      right: 0.75rem;
      bottom: 0.5rem;
      font-size: 0.8rem;
      line-height: 0;
      color: var(--color-on-purple);
    }
  }
}

/* Markdown conversion error preventing inline working */
.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}
