body {
  font-family: "Recursive", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  line-height: 1.2;
}

p {
  font-size: 1.15rem;
}

footer p {
  font-size: 1rem;
}

a {
  color: inherit;

  &:focus {
    outline: 2px solid currentColor;
  }
}

code:not([class]) {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.9rem;

  color: var(--color-on-purple);
  background-color: var(--color-purple);
  padding-right: 0.15em;
  padding-left: 0.15em;
  white-space: nowrap;

  @supports (font-size: 1ch) {
    font-size: 1.75ex;
  }
}

blockquote:not(.smol-unbreakable-box) {
  display: inline-block;
  font-size: 1.05rem;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0 0.25em 0.25em 0;
  background-color: var(--color-blue);
  color: var(--color-on-blue);
  border-left: 2px dashed;

  > * {
    font-size: inherit;
  }

  &.promo {
    font-size: 1.25rem;
    border: 1px solid;
    padding: 2rem;
    text-align: center;
    border-radius: 0.25em;
  }
}
