---
title: "Smol Modern Centering"
categories: ["grid", "layout"]
order: 3
templateEngineOverride: njk, md
---

{% set description %}

**Put down the CSS centering jokes**! This modern update is often the solution you're looking for to solve your centering woes.

{% endset %}

{% set css %}
.smol-centering {
  display: grid;
  place-content: center;
}
{% endset %}

{% set html %}
<ul class="smol-centering">
  <li>Feeling Centered</li>
</ul>
{% endset %}

{% set resourceLink %}

Just in case you're not convinced, [see more centering solutions](https://moderncss.dev/complete-guide-to-centering-in-css/) on ModernCSS.dev

{% endset %}

{% include "code.njk" %}