---
title: "Smol Flexible Unbreakable Boxes"
categories: ["component", "layout"]
order: 15
date: 2021-04-09
templateEngineOverride: njk, md
---

{% set description %}

[CSS is awesome](https://css-tricks.com/css-is-in-fact-awesome/), and using a mix of older and modern CSS we can quickly define flexible, unbreakable boxes!

This demo of a `blockquote` first reuses our [responsive padding](#smol-responsive-padding) idea to enable padding that _just feels right_ as the box flexes to different sizes. The box size is controlled by setting width using the `min()` function. As the box grows and shrinks, `min()` will select the _minimum_ of the provided values, resulting in a box that has a `max-width` for large viewports _and_ a `max-width` on smaller viewports.

Then we add a few properties to ensure long text values cannot break the box, including `word-break` and `hyphens` (note that [`hyphens`](https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens#browser_compatibility) may not work in all languages).

Finally, the `footer` sets its width with `fit-content` just as we also used in the previous [visited styles demo](#smol-visited-styles). This makes for a great alternative to swapping to an `inline` display value in case you also need to set a `display`!

{% endset %}

{% set css %}
.smol-unbreakable-box {
  --color-light: #E0D4F6;
  --color-dark: #675883;

  margin: 2rem auto;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-size: 1.15rem;
  /* Smol Responsive Padding FTW! */
  padding: clamp(.75rem, 3%, 2rem);
  /* Provide a max-width and prevent overflow */
  width: min(50ch, 90%);
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;
  /* Optional, not supported for all languages */
  hyphens: auto;
}

.smol-unbreakable-box footer {
  padding: 0.25em 0.5em;
  margin-top: 1rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 0.9rem;
  /* Creates a visual box shrunk to `max-content` */
  width: fit-content;
}
{% endset %}

{% set html %}
<blockquote data-component class="smol-unbreakable-box">
  <p>Topping candy canes ice cream gummi bears gingerbread marshmallow. Chocolate cake powder sugar plum topping. Cake marshmallow carrot cake. Pie liquorice liquorice sweet tootsie roll caramels donut dragée bear claw. Chocolate powder candy canes.</p>
  <footer>
  - <cite>Captain Candy</cite>
  </footer>
</blockquote>
{% endset %}

{% set resourceLink %}

For more extensive info and another example for creating flexible, unbreakable boxes, check out this ModernCSS tutorial - [Developing For Imperfect: Future Proofing CSS Styles](https://moderncss.dev/developing-for-imperfect-future-proofing-css-styles/)

{% endset %}

{% set codepenForm %}
{% postToCodepen title, page.fileSlug, categories, css, html %}
{% endset %}

{% include "code.njk" %}