---
title: "Smol Responsive CSS Grid"
categories: ["grid", "layout"]
order: 1
templateEngineOverride: njk, md
---

{% set description %}

Create an intrinsically responsive grid layout, optionally using a CSS custom property to extend to varable contexts. Each column will resize at the same rate, and break to a new row if the width reaches the `--min` value.

{% endset %}

{% set css %}
.smol-css-grid {
  --min: 15ch;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}
{% endset %}

{% set html %}
<ul class="smol-css-grid">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
{% endset %}

{% set resourceLink %}

Learn more about [creating a responsive CSS grid solution](https://moderncss.dev/solutions-to-replace-the-12-column-grid/) on ModernCSS.dev

{% endset %}

{% include "code.njk" %}