---
meta:
  title: "Smol Modern Centering"
  categories: ["grid", "layout"]
date: 2021-02-10
templateEngineOverride: njk, md
---

{% set description %}

**Put down the CSS centering jokes**! This modern update is often the solution you're looking for to solve your centering woes.

{% endset %}

{% set css %}
.smol-centering {
  display: grid;
  place-content: center;
}
{% endset %}

{% set html %}
<div class="smol-centering">
  <span>Feeling Centered</span>
</div>
{% endset %}

{% set resourceLink %}

Just in case you're not convinced, [see more centering solutions](https://moderncss.dev/complete-guide-to-centering-in-css/) on ModernCSS.dev

{% endset %}

{% set codepenForm %}
{% postToCodepen meta.title, page.fileSlug, meta.categories, css, html %}
{% endset %}

{% include "code.njk" %}