---
meta:
  title: "Smol Stack Layout"
  categories: ["grid", "layout"]
date: 2021-02-19
templateEngineOverride: njk, md
---

{% set description %}

This smol stacked layout is a grid feature that can often replace older techniques that relied on absolute positioning. It works by defining a single `grid-template-area` and then assigning all direct children to that `grid-area`. The children are then "stacked" and can take advantage of grid positioning, such as the centering technique in the demo.

At first glance you might not notice, but that's a video background in the demo. And all we had to do was set `width: 100%` to ensure it filled the grid area. Then, we make use of `place-self` on the `h3` to center it. The rest is completely optional design styling!

Bonus features in this demo include defining the `h3` size using `clamp()` for _viewport relative sizing_, and also using `aspect-ratio` to size the container to help reduce [cumulative layout shift](https://web.dev/cls/).

{% endset %}

{% set css %}
.smol-stack-layout {
  display: grid;
  grid-template-areas: "stack";
  /* Set within the HTML for the demo */
  aspect-ratio: var(--stack-aspect-ratio);
  background-color: #200070;
}

.smol-stack-layout > * {
  grid-area: stack;
}

.smol-stack-layout video {
  width: 100%;
}

.smol-stack-layout h3 {
  place-self: center;
  font-size: clamp(2.5rem, 5vw, 5rem);
  text-align: center;
  line-height: 1;
  font-style: italic;
  padding: 5vh 2vw;
}

.smol-stack-layout--video small {
  align-self: end;
  justify-self: start;
  padding: 0 0 0.25em 0.5em;
  opacity: 0.8;
  font-size: 0.8rem;
}

.smol-stack-layout h3,
.smol-stack-layout small {
  position: relative;
  color: #fff;
}
{% endset %}

{% set html %}
<div data-component class="smol-stack-layout smol-stack-layout--video" style="--stack-aspect-ratio: 16/9">
  <video muted autoplay>
    <source src="{{ siteMeta.url }}/assets/video.mp4" type="video/mp4">
  </video>
  <h3>Into The Unknown</h3>
  <small>Video from <a href="https://www.pexels.com/video/a-sky-full-of-stars-at-night-2646392/">Pexels</a></small>
</div>
{% endset %}

{% set resourceLink %}

For more examples of creating smol stack layouts, review my guide to [website hero designs](https://moderncss.dev/3-popular-website-heroes-created-with-css-grid-layout/), see how it's used for [creating custom checkboxes](https://moderncss.dev/pure-css-custom-checkbox-style/), and learn to use it to [position animated image captions](https://moderncss.dev/animated-image-gallery-captions-with-bonus-ken-burns-effect/).

{% endset %}

{% set codepenForm %}
{% postToCodepen meta.title, page.fileSlug, meta.categories, css, html %}
{% endset %}

{% include "code.njk" %}