---
meta:
  title: "Smol Responsive Sidebar Layout"
  categories: ["grid", "layout"]
date: 2021-02-11
templateEngineOverride: njk, md
---

{% set description %}

Several layers of delicous modern CSS goodness here! First, we're using `fit-content` to handle the sidebar sizing. This allows the sidebar to grow _up to_ the defined value, but only if it _needs to_, else it will use/shrink to the equivalent of `min-content`. 

Next, we use `minmax` for the main content. Why? Because if we only use `1fr` then eventually our sidebar and main will share 50% of the space, and we want the main area to always be wider. We also nest `min` to ask the browser to use the minimum of _either_ of the options. The result in this case is use of `50vw` on mobile-sized viewports, and `30ch` on larger viewports. And, when there's room, it also stretches to `1fr` for the _max_ part of `minmax` 🙌🏽

{% endset %}

{% set css %}
.smol-sidebar {
  display: grid;
  grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
}
{% endset %}

{% set html %}
<div class="smol-sidebar">
  <span data-text>
    Some sidebar content goes here
  </span>
  <span>Main content</span>
</div>
{% endset %}

{% set codepenForm %}
{% postToCodepen meta.title, page.fileSlug, meta.categories, css, html %}
{% endset %}

{% include "code.njk" %}