---
meta:
  title: "Smol Visited Styles"
  categories: ["utility"]
date: 2021-03-02
templateEngineOverride: njk, md
---

{% set resize %}false{% endset %}

{% set description %}

The `:visited` pseudo class is very unique because of [the potential to be exploited in terms of user's privacy](https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector). To resolve this, browser makers have limited which CSS styles are allowed to be applied using `:visited`.

A key gotcha is that styles applied via `:visited` will always use the parent's alpha channel - meaning, you cannot use `rgba` to go from invisible to visible, you must change the whole color value. So, to hide the initial state, you need to be able to use a solid color, such as the page or elements's background color.

As usual - this demo has bonus techniques and properties! Note the way we're updating the _order_ of the visited indicator using flexbox. And, we're using some newly supported properties to change the color, position, and style of the link underline. 

Plus, we're using `fit-content` again but as a value of `width` this time and not as a function. This means it will expand to the equivalent of `max-width` but not _exceed_ the available width, preventing overflow.

{% endset %}

{% set css %}
ul.smol-visited-styles {
  --color-background: #fff;
  --color-accent: green;

  display: grid;
  grid-gap: 0.5rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-background); 
  border: 1px solid var(--color-accent);
}

.smol-visited-styles a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: #222;
  text-decoration-color: var(--color-accent);
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;
}

.smol-visited-styles a span {
  margin-right: 0.25em;
  /* Remove from normal document flow
  which excludes it from receiving 
  the underline ✨ */
  float: left;
}

.smol-visited-styles a span::after {
  content: "✔";
  color: var(--color-background);
}

.smol-visited-styles a:visited span::after {
  color: var(--color-accent);
}
{% endset %}

{% set html %}
<ul class="smol-visited-styles" data-component data-padding-unset>
  <li><a href="https://ModernCSS.dev">ModernCSS.dev<span aria-hidden="true"></span></a></li>
  <li><a href="https://LearnFromSteph.dev">LearnFromSteph.dev<span aria-hidden="true"></span></a></li>
  <li><a href="https://5t3ph.dev/a11y-forms">Course: Accessibly Styling Form Fields<span aria-hidden="true"></span></a></li>
</ul>
{% endset %}

{% set resourceLink %}

Una Kravets has a much more [in-depth reference on styling `:visited`](https://una.im/hacking-visited/). For another example, see how I've styled it for the [Style Stage directory](https://stylestage.dev/styles/). 

{% endset %}

{% set codepenForm %}
{% postToCodepen meta.title, page.fileSlug, meta.categories, css, html %}
{% endset %}

{% include "code.njk" %}