---
title: "Smol Responsive CSS Grid"
categories: ["grid", "layout"]
order: 1
date: 2021-02-10
templateEngineOverride: njk, md
---

{% set description %}

Create an intrinsically responsive grid layout, optionally using a CSS custom property to extend to variable contexts. Each column will resize at the same rate, and items will begin to break to a new row if the width reaches the `--min` value.

{% endset %}

{% set css %}
.smol-css-grid {
  --min: 15ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}
{% endset %}

{% set html %}
<ul class="smol-css-grid">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
{% endset %}

{% set resourceLink %}

Learn more about [creating a responsive CSS grid solution](https://moderncss.dev/solutions-to-replace-the-12-column-grid/) on ModernCSS.dev

{% endset %}

{% set codepenForm %}
{% postToCodepen title, page.fileSlug, categories, css, html %}
{% endset %}

{% include "code.njk" %}