---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.siteName }}</title>
	<subtitle>{{ meta.siteDescription }}</subtitle>
	{% set absoluteUrl %}{{ '/feed/' | url | absoluteUrl(meta.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ collections.snippets | rssLastUpdatedDate }}</updated>
	<id>{{ meta.url }}/</id>
	<author>
		<name>{{ meta.authorName }}</name>
	</author>
	{%- for item in collections.snippets | reverse %}
	{% set absolutePostUrl %}{{ '/' | url | absoluteUrl(meta.url) }}#{{item.fileSlug}}{% endset %}
	<entry>
		<title>{{ item.data.title  }}</title>
		<link href="{{ absolutePostUrl}}"/>
		<updated>{{ item.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ item.templateContent | htmlToAbsoluteUrls(absoluteUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>