---
title: "SmolCSS"
description: "Minimal snippets for modern CSS layouts and components"
layout: "base.njk"
---

{% for snippet in collections.snippets %}
<article>
  <h2>{{ snippet.data.title }}</h2>
  <ul class="categories">
    {% for category in snippet.data.categories %}
    <li class="category-{{ category }}">
      {{ category }}
    </li>
    {% endfor %}
  </ul>
  {{ snippet.templateContent | safe }}
</article>
{% endfor %}