---
title: "SmolCSS"
description: "Minimal snippets for modern CSS layouts and components"
layout: "base.njk"
---

{% for snippet in collections.snippets %}
<article>
  <div class="headline">
    <h2 id="{{ snippet.fileSlug }}">{{ snippet.data.title }}</h2>
    <a class="anchor" href="#{{ snippet.fileSlug }}">
      <span aria-hidden="true">#</span>
      <span class="hidden">Section titled {{ snippet.data.title }}</span>
    </a>
  </div>
  <div class="actions">
  <ul class="categories">
    {% for category in snippet.data.categories %}
    <li class="category-{{ category }}">
      {{ category }}
    </li>
    {% endfor %}
  </ul>
  {{ snippet.templateContent | safe }}
</article>
{% endfor %}
